/*------------------------------fonts------------------*/

@import "./utills/fonts.scss";
@import "./utills/variables";
@import "./base";

@import "./utills/utills";
.section {
  padding: 48px 0;
}
.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}
.accent {
  color: var(--color-brand-normal);
}
/*----------------------button--------------------------------*/
@import "./components/button";
/*----------------------link----------------------------------*/
@import "./components/links.scss";
@import "./utills/mixin";
/*----------------------header--------------------------------*/
@import "./components/header";

/*--------------------hero-section--------------------------*/
@import "./components/hero-section.scss";
/*----------------------advantages-section--------------------*/
@import "./components/advantages-section";
/*----------------------Traditions----------------------------*/
@import "./components/taditions";
/*----------------------Chef-section--------------------------*/
@import "./components/chef-section";
/*----------------------Format-section------------------------*/
// @import "./components/format-section";
.formats-container {
  display: flex;
  gap: 32px;
  align-items: center;
}
.formats-title {
  margin-bottom: 80px;
  color: var(--color-primary-light);
  .format-text p {
    font-size: 14px;
    font-weight: 300;
    color: var(--color-primary-light);
  }
}
.format-title {
  font-size: 24px;
  font-weight: 600;
}
.format-text {
  font-size: 14px;
  font-weight: 300;
}
.format-list {
  display: flex;
  gap: 20px;
}
.format-card {
  position: relative;
  height: 444px;
  display: flex;
  background-image: linear-gradient(
    180deg,
    rgba(49, 38, 26, 0) 55.21%,
    rgba(49, 38, 26, 0.71) 72.92%,
    var(--color-primary-dar)
  );
  justify-content: flex-end;
  flex-direction: column;

  border: 1px solid lightgrey;
  border-radius: 16px;
  padding: 24px;
  transition: transform 0.5s;
}
.format-image {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.format-card:hover {
  transform: scale(1.05);
}
.format-item {
  flex-basis: calc((100% - 40px) / 3);
}

/* -------------------------Carousel---------------------------*/
@import "./components/carousel";
/*----------------------Contacts-section----------------------*/

@import "./components/contacts-section";
/*----------------------Footer--------------------------------*/
@import "./components/footer";
/* -------------------- */
@import "./components/backdrop";
