/*------------------------------fonts------------------*/

@import "./utills/fonts.scss";
@import "./utills/variables";
@import "./base";

@import "./utills/utills";
.section {
  padding: 48px 0;
}
.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}
.accent {
  color: var(--color-brand-normal);
}
@import "./components/section";
@import "./components/button";
@import "./components/links.scss";
@import "./components/input.scss";
@import "./utills/mixin";
@import "./utills/texts";
@import "./layouts/header";

@import "./layouts/hero-section.scss";
@import "./layouts/advantages-section";
@import "./components/section";
@import "./layouts/traditions-section";
@import "./layouts/chefs-section";
@import "./components/chef-card";
@import "./layouts/format-section";
@import "./components/formats_card";
@import "./layouts/forms-terms";
@import "./layouts/contacts-section";
@import "./components/carousel";
@import "./layouts/modal";
@import "./layouts/footer";
@import "./components/backdrop";
